<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
  <h1 th:text="${title}">Default Title</h1>
  <th:block th:replace="fragments :: navigation"></th:block>
<!--  <nav th:replace="fragments :: navigation"></nav>-->
  <table class ="table" th:fragment="cheese-table">
    <tr>
      <td>Name</td>
      <td>Description</td>
      <td>Type</td>
      <td></td>
    </tr>
    <tr th:each="cheese : ${cheeses}">
      <td th:text="${cheese.name}"></td>
      <td th:text="${cheese.description}"></td>
      <td><a th:href="@{'/category/' +${cheese.category.id}}" th:text="${cheese.category.name}"></a></td>
      <td><a th:href="@{'/cheese/edit/' + ${cheese.id}}">edit</a></td>
    </tr>
  </table>
  <p th:unless="${cheeses} and ${cheeses.size()}">No cheese</p>
  <nav>
    <a href="/cheese/add">Add</a>
    <a href="/cheese/remove">Remove</a>
  </nav>
</body>
</html>