<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>


<body class="container">
  <h1 th:text="${title}">Default Title</h1>
  <nav th:replace="fragments :: navigation"></nav>
  <form action='/cheese/search/category' method='post' style="max-width:600px">
    <div class="form-group">
      <select th:field="*{type}">
        <th:block th:fragment="category-options">
        </th:block>
      </select>
    </div>
    <input type='submit' value='Search'/>
  </form>
  <table th:replace="cheese/index :: cheese-table">
  </table>
</body>
</html>