
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>

<form action='add' method='post' style="max-width:600px" th:object="${user}">
  <div class="form-group">
    <label th:for="username">User Name</label>
    <input class="form-control" th:field="*{username}"/>
    <span th:errors="*{username}" class="error"></span>
  </div>
  <div class="form-group">
    <label th:for="emailAddress">Email Address</label>
    <input class="form-control" th:field="*{emailAddress}"/>
    <span th:errors="*{emailAddress}" class="error"></span>
  </div>
  <div class="form-group">
    <label th:for="password">Password</label>
    <input class="form-control" th:field="*{password}" type="password"/>
    <span th:errors="*{password}" class="error"></span>
  </div>
  <div class="form-group">
    <label for="pass-veri-field">Verify Password</label>
    <input class="form-control" id="pass-veri-field" type="password" name="verifyPassword"/>
    <span th:errors="*{verifyPassword}" class="error"></span>
<!--    <span th:if="${errorText != null}" th:text="${errorText}"></span>-->
  </div>
  <input type='submit' value='Create User'/>
</form>
</body>
</html>